<h1>Welcome to WannabeTwitter</h1>

<p>Find me in app/views/home/index.html.erb</p>

<!-- using link_to rails helper for making links -->

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>


<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>
